body {
  font-family: "Inter", sans-serif;
  background-color: rgb(0, 0, 0);
  background-image: url(./assets/wp4297898-laptops-wallpapers.png);
}

.center-div {
  padding-top: 10%;
}

#invalid {
  margin-top: 3%;
  padding: 0;
}

.form-group {
  margin-top: 5%;
}

#home,
#main-login {
  background-color: rgb(255, 255, 255, 0.3);
  border: 3px solid white;
  border-radius: 10px;
  color: black;
}

#home a {
  color: white;
}

.btn.btn-success {
  margin-top: 10%;
  padding: 0.4em 2em;
}

form {
  padding: 0 2em;
}

#login.title > span {
  font-size: 0.8em;
}
